.body {
  color: #4b4e5a;
}

.container {
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  font-family: "돋움", sans-serif;
}

.cms-menu {
  width: 200px;
  margin-top: 35px;
}

.cms-menu li {
  cursor: pointer;
}

.cms-menu h3 {
  color: #333;
  font-family: '맑은 고딕', sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -2px;
  border-top: 2px solid #1287E0;
  padding: 14px 8px;
}

.cms-menu .high>li {
  font-size: 15px;
  border-top: 1px solid #D4D6D7;
  padding: 2px 0;
}

.cms-menu .high>li.on >a {
  background-color: #1287E0;
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  border: 1px solid #1776b4;
}

.cms-menu .high>li>a {
  padding: 8px;
  display: block;
}

.cms-menu .high>li:nth-child(4) {
  border-bottom: 1px solid #D4D6D7;
}

.cms-menu .sub {
  display: block;
  padding: 7px 3px;
}

.cms-menu .sub>li {
  font-size: 12px;
  padding: 3px 0;
  padding-left: 10px;
  background: url(../images/dot.gif) no-repeat 4px 10px;
}

.cms-menu .sub>li:hover {
  color: #1287E0;
  font-weight: bold;
  letter-spacing: -1px;
}

.cms-wrap {
  width: 740px;
  margin-top: 26px;
}

.locate {
  float: right;
  font-size: 11px;
  font-weight: 200;
  color: #222;
}

.locate a {
  cursor: pointer;
}

.locate a:hover {
  text-decoration: underline;
}

.locate a:last-child {
  color: #1766B4;
}

.locate i {
  font-size: 11px;
}

.cms-wrap h2 {
  font-family: '맑은 고딕', sans-serif;
  margin-top: 12px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1.5px;
  color: #1287E0;
}

.tab-title-wrap {
  width: 100%;
  height: 42px;
  background-color: #6E7482;
  border-radius: 8px 8px 0 0;
}

.tab .title {
  /* height: 35px; */
  display: flex;
  padding-left: 8px;
  cursor: pointer;
}

.tab .title h4 {
  margin-top: 8px;
  padding: 8px 10px;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}

.tab .title h4.on {
  color: #3d3d3d;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
}

.tab-content {
  margin-top: 50px;
}

.top-info {
  height: 275px;
  background-color: #F6F6FA;
  border-top: 2px solid #919BAA;
  border-bottom: 1px solid #D4D6D7;
  position: relative;
}

.top-info .text {
  padding: 30px;
}

.top-info .img01 {
  height: 60px;
  margin-bottom: 17px;
}

.top-info .img02 {
  height: 29px;
  margin-bottom: 20px;
}

.top-info h5 {
  margin-bottom: 7px;
  font-size: 15px;
  font-weight: bold;
}

.top-info h5 span {
  color: #E2632E;
}

.top-info p {
  color: #444;
  font-weight: 300;
  line-height: 20px;
  font-size: 14px;
}

.top-info p span {
  color: #1766B4;
  font-weight: bold;
}

.top-info .bgi {
  position: absolute;
  top: 37px;
  right: 27px;
}

.top-info .bgi img {
  width: 283px;
}

.tab-content .infos {
  margin-top: 30px;
  color: #333;
  font-size: 12px;
  font-weight: 300;
}

.tab-content .infos h5 {
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: bold;
  color: #1766B4;
  padding-left: 9px;
  background: url(../images/bull_tit_type1.gif) no-repeat 0;
}

.tab-content .info {
  margin-bottom: 30px;
}

.tab-content .info p {
  padding: 3px 0;
  padding-left: 7px;
  background: url(../images/bull_txt_type1.gif) no-repeat 0;
}

.tab-content .info p span {
  font-size: 1px;
}

table {
  border-collapse: collapse;
  width: 740px;
  border-top: 2px solid #919BAA;
  border-bottom: 2px solid #919BAA;
  text-align: left;
}

table th, td {
  padding: 7px 16px;
  border-bottom: 1px solid #D4D6D7;
}
  
.table01 th {
  background-color: #F8F8F9;
  font-weight: bold;
  width: 150px;
  border-right: 1px solid #D4D6D7;
}

.table02 tr th {
  background-color: #F8F8F9;
}

.table02 th {
  border-right: 1px solid #D4D6D7;
}

.table02 th:last-child {
  border-right: none;
}

.table02 li {
  padding-left: 7px;
  background: url(../images/bull_txt_type2.gif) no-repeat 0 6px;
}

